# Ignore virtual environments
AI/**/venv/
*/venv/

# Ignore large model and binary files
*.pth
*.pyd
*.dll
*.lib
*.mp4

# Ignore uploads and media
backend/uploads/
*.mp4

# Node modules (just in case)
node_modules/
